footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #7e7e7e;
  display: flex;
  justify-content: space-around;

  button {
    font-size: 11px;
    background: transparent;
    color:  #7e7e7e;
    border: none;
    cursor: pointer;
  }
}

.container {
  max-width: 450px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border: 2px solid #111;
  border-radius: 8px;
  box-shadow: 8px 8px 0px 0px #111;
}

.bio {
  line-height: 1.5;
  font-size: 16px;
  margin: 25px 0 20px;
}

.bio p {
  margin: 0;
}

.bio p:not(:last-child) {
  margin-bottom: 10px;
}

.tooltip {
  position: relative;
  cursor: help;
  z-index: 0;
  display: inline-block;
}

.tooltip::before {
  content: "";
  position: absolute;
  inset: -2px 0 0 -2px;
  background: #C9E2CB;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 4px;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #91BC94;
  border: 1px solid #111;
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  padding: 6px;
  bottom: calc(100% + 5px);
  transition: bottom .2s;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 4px 4px 0 0 #111;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  bottom: calc(100% + 10px);
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
}
